<!DOCTYPE html>
<html lang="fr-fr">

<!-- Mirrored from social.webestica.com/settings.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Jun 2022 11:39:07 GMT -->
<head>
	

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Bootstrap 5 based Social Media Network and Community Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="~/images/parametre/logo.png">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap">

	<!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css">

  <!-- Theme CSS -->
    <link id="style-switch" rel="stylesheet" type="text/css" runAt="server" href="~/assets/css/style.css" >
    <link rel="stylesheet" type="text/css" href="~/assets/css/perso.css">
    
    
</head>

<body>
  
        
 
    <!-- **************** MAIN CONTENT START **************** -->
<main>
  <!-- Container START -->
  <div class="container">

            @RenderBody()

   </div>
</main>
<!-- Modal login activity END -->

  <!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="assets/vendor/dropzone/dist/dropzone.js"></script>
<script src="assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
<script src="assets/vendor/pswmeter/pswmeter.min.js"></script>


<!-- Template Functions -->
<script src="~/assets/js/functions.js"></script>
<script src="~/assets/js/ckeditor/ckeditor.js"></script>

<script>
  CKEDITOR.replace('editor')
</script>
</body>

<!-- Mirrored from social.webestica.com/settings.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Jun 2022 11:39:08 GMT -->
</html>
@await RenderSectionAsync("Scripts", required: false)