@model plateforme.Models.Departement

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutSuperadmin";
}

<div class="col-lg-12 ">
            <div class="row g-4">
              <div class="col-sm-6 col-lg-12">
                <div class="card">
                  <!-- Card header START -->
                  <div class="card-header pb-0 border-0">
                    <h5 class="card-title mb-0">Modifier un département</h5>
                  </div>
                  <!-- Card header END -->
                  <!-- Card body START -->
                  <div class="card-body">
                    <!-- Form settings START -->
                    <form class="row g-3" asp-action="Create">
                      <div class="row g-3 card-body" id="corps">
                          <!-- Nom département -->
                            <div class="row mb-4">
                                   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="NomDept" class="control-label"></label>
                                    <input asp-for="NomDept" class="form-control" />
                                    <span asp-validation-for="NomDept" class="text-danger"></span>
                                </div>
                                <!-- Button  -->
                                <div class="col-6">
                                  <input type="reset" class="btn btn-sm btn-danger-soft mb-0" value="Annuler">
                                </div>
                                <!-- Button  -->
                                <div class="col-6 text-end">
                                  <div class="btn btn-sm btn-primary-soft mb-0" onclick="toggle()">Suivant</div> 
                                </div>
                            </div>
                      </div>
                      
                      <div id="popup">
                        <p>
                          Veuillez confirmer la création du département <div id="nonDep"></div>
                        </p>
                        <div class="row">
                          <div class="col-6"><p class="btn btn-sm btn-danger-soft mb-0" onclick="toggle()">Retour</p> </div>
                          <div class="col-6"><button type="submit" class="btn btn-sm btn-success-soft  mb-0">Confirmer</button></div> 
                        </div>
                        
                      </div>
                    </form>
                    <!-- Settings END -->
                    
                  </div>
                  <!-- Card body END -->
                </div>
              </div>
              <!-- Card News END -->
            </div>
        </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
