@model plateforme.Models.ViewModels.SujetVM
@{
    ViewData["Title"] = "Créer un sujet de discussion";
    Layout = "_LayoutMembre";
}
<div class="col-lg-12 mt-3">
            <nav style="--bs-breadcrumb-divider: '►';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  
                  <li class="breadcrumb-item ">
                    <a asp-action="Index" asp-controller="Sujets">Les sujets accessibles</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">Créer un nouveau sujet</li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-12 ">
            <div class="row g-4">
              <div class="col-sm-6 col-lg-12">
                <div class="card">
                  <!-- Card header START -->
                  <div class="card-header pb-0 border-0">
                    <h5 class="card-title mb-0">Créer un sujet de discussion</h5>
                  </div>
                  <!-- Card header END -->
                  <!-- Card body START -->
                  <div class="card-body">
                    <!-- Form settings START -->
                    <form class="row g-3" asp-action="Create"enctype="multipart/form-data">
                        <p class="text-body">
                           <marquee> NB : Les champs marqués du signe <span class="text-danger">*</span> sont obligatoires</marquee><br />             
                        </p>
                      <div class="row g-3 card-body" id="corps">

                         <!-- Titre -->
                                 <div class="row mb-4">
                                    <div class="col-3">
                                        <label class="form-label">TITRE<span class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-8">
                                        <input asp-for="Titre" class="form-control" id="titre" placeholder="Donner un type à votre publication">
                                        <span asp-validation-for="Titre" id="titreErreur" class="small text-danger"></span>
                                    </div>
                                 </div>

                         <!-- Description -->
                              <div class="col-11 mb-5">
                                <label class="form-label">AJOUTER UNE DESCRIPTION<span class="text-danger">*</span></label>
                               <textarea asp-for="description" class="form-control" id="champs" autoresize></textarea>
                                <span asp-validation-for="description" id="champErreur" class="small text-danger"></span>
                              </div>
                        <!-- Visibilité -->
                              <div class="row mb-4">
                                <div class="col-3">
                                    <label class="form-label">VISIBILITE<span class="text-danger">*</span></label>
                                </div>
                                <div class="row col-9">
                                    <div class="col-4">
                                        <input class="form-check-input"   type="radio" name="visiblite" value="1"> Toute l'entreprise 
                                    </div>
                                    <div class="col-4">
                                        <input class="form-check-input"  type="radio" name="visiblite" value="2" > @ViewBag.membre.Departement.NomDept
                                    </div>
                                    <div class="col-12">
                                        <span asp-validation-for="visiblite"  id="visibliteErreur"  class="small text-danger"></span>
                                    </div>
                                </div>
                             </div>

                       @*<!-- Visibilité-->
                          <div class="row g-4 mb-4">
                            <div class="col-lg-3">
                              <label asp-for="visiblite" class="control-label"></label>
                            </div>
                            @if(Model != null)
                            {
                              <div class="col-lg-9 row">

                                    <div class="col-lg-6">
                                        @if(Model.visiblite == "1" )
                                        {
                                            <input class="form-check-input"  type="radio" name="visiblite" id="" value="1" checked> <span>Toute l'entreprise</span> 
                                        
                                        }
                                        else
                                        {
                                            <input class="form-check-input"  type="radio" name="visiblite" id="" value="1"> <span>Toute l'entreprise</span> 
                                        }
                                  
                                    </div>
                            
                                    <div class="col-lg-6">
                                        @if(Model.visiblite == "2" )
                                        {
                                            <input class="form-check-input"  type="radio" name="visiblite" id="" value="2" checked> <span>@ViewBag.membre.Departement.NomDept</span> 
                                        
                                        }
                                        else
                                        {
                                            <input class="form-check-input"  type="radio" name="visiblite" id="" value="2">  <span>@ViewBag.membre.Departement.NomDept</span> 
                                        }
                                   
                                    </div>
                                <div class="col-lg-12 text-center">
                                    <span asp-validation-for="visiblite" id="visibliteErreur" class="small text-danger"></span>
                                </div> 
                              </div>
                            }
                            else
                            {
                                <div class="col-lg-9 row">

                                    <div class="col-lg-6">
                                        
                                       <input class="form-check-input"  type="radio" name="visiblite" id="" value="1"> Toute l'entreprise 
                                        
                                  
                                    </div>
                            
                                    <div class="col-lg-6">
                                        
                                       <input class="form-check-input"  type="radio" name="visiblite" id="" value="2"> @ViewBag.membre.Departement.NomDept
                                    </div>
                                <div class="col-lg-12 text-center">
                                    <span asp-validation-for="visiblite" class="small text-danger"></span>
                                </div> 
                              </div>
                            }
                          </div>*@
                        
                     <!-- Lien -->
                      <div class="row mb-4">
                        <div class="col-3">
                            <label class="form-label"><i class="bi bi-link-45deg text-warning pe-2"></i>LIENS</label>
                        </div>
                        <div class="col-8">
                            <input asp-for="lien" class="form-control" name="lien" placeholder="">
                            <span asp-validation-for="lien" class="small text-danger"></span>
                        </div>
                     </div>
                       <!-- Fichier -->
                       <div class="row mb-4">
                        <div class="col-7">
                            <label><i class="bi bi-image-fill text-success pe-2"></i>PHOTO/<i class="bi bi-camera-reels-fill text-info pe-2"></i>VIDEO/<i class="bi bi-file-earmark-pdf-fill text-danger pe-2"></i>PDF</label>
                          
                        </div>
                        <div class="col-5">
                          <input asp-for="fichier" id="fichier" class="form-control" accept="image/*,video/*" name="fichier" onchange="previewImage()"/>
                          <span asp-validation-for="fichier" class="small text-danger"></span>
                        </div>
                     </div>
                       
                     

                     
                        <!-- Button  -->
                        <div class="col-6">
                          <input type="reset" class="btn btn-sm btn-danger-soft mb-0" value="Annuler">
                        </div>
                        <!-- Button  -->
                        <div class="col-6 text-end">
                          <div class="btn btn-sm btn-primary-soft mb-0" onclick="Valider()">Valider</div> 
                        </div>
                      
                      </div>
                       <div class="col-lg-12 bg-light w-50" id="popup">
                               <div class="row g-4">
                                 <div class="col-sm-6 col-lg-12 p-3 w-75 mx-auto">
                                   @*==============================Preview START===========================*@
                                   
                                    <div class="card-body mx-auto">
                                       <h3 class="text-body" id="titrePrev"></h3>
                                       <p id="champPrev"></p>
                                       <!-- Card header END -->
                                   
                                         <img class="card-img" id="preview" style="height: 30vh; width: 30vh; visibility: hidden;" alt="Impossible de privusialiser ce fichier"> 
                                         <a href="#" id="lienPrev"></a>
                                       <p id="tagPrev" class="mt-2"></p>
                                    </div>
                                     
                                   @*===========================Preview END======================================*@
                                   <p>Veuillez confirmer la réalisation de cette publication</p>
                                     <div class="col-lg-12 row">
                                       <div class="col-6"><a class="btn btn-sm btn-danger-soft mb-0" onclick="toggle()">Retour</a> </div>
                                       <div class="col-6 text-end"><button class="btn btn-sm btn-success-soft mb-0">Confirmer</button></div>
                                     </div>
                    
                                 </div>
                                  <!-- Card News END -->
                               </div>
                            </div>

                      
                      
                    </form>
                    <!-- Settings END -->
                  </div>
                  <!-- Card body END -->
                </div>
              </div>
              <!-- Card News END -->
            </div>
        </div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
    <script>
function Valider() {
    let check = 0;
    document.getElementById('titreErreur').innerHTML = "";
    document.getElementById('champErreur').innerHTML = "";
    document.getElementById('visibliteErreur').innerHTML = "";
    if (document.getElementById('titre').value == "") {
        document.getElementById('titreErreur').innerHTML = "Donnez un titre à votre publication";
        check = 1;

    }

    if (document.getElementById('champs').value == "") {
        document.getElementById('champErreur').innerHTML = "Faites une brève description de votre publication";

        check = 1;
    }
    if (!document.getElementsByName('visiblite')[0].checked && !document.getElementsByName('visiblite')[1].checked) {
        document.getElementById('visibliteErreur').innerHTML = "Choisissez à quel échelle la publication peut être consultée";

        check = 1;
    }
    

    if (check == 0) {
        
        document.getElementById('titrePrev').innerHTML = document.getElementById('titre').value;
        document.getElementById('champPrev').innerHTML = document.getElementById('champs').value;
        if (document.getElementById("fichier").files.length > 0) {

            document.getElementById('preview').style = "visibility: visible;height: 30vh; width: 30vh;";


        }
        toggle();
    }
}

        $(document).ready(function () {
         // ckeditor 5 initialization
            ClassicEditor
                .create(document.getElementById('champ'))
                .then(editor => {
                    console.log(editor);
                })
                .catch(error => {
                    console.error(error);
                });
        });


    </script>